.wrapper {
	width: 100%;
	margin-bottom: 0.5rem;
}

.subwrapper {
	margin-left: 1rem;
}

.title {
	font-size: 1.25rem;
	font-weight: 600;
}

.select {
	width: 20rem;
	margin-top: 0.5rem;
	padding: 0.5rem;
	border: 1px solid grey;
}

.option {
	font-size: 1.25rem;
}
